{% comment %}
 The code below dynamically generates a list of seminars from files with 
 `layout: seminarpage` in the front-matter. See readme for usage.
{% endcomment %}

<ul>
{% assign pages_list = site.pages | sort:"name" %}
{% for node in pages_list %}
 {% if node.title != null %}
  {% if node.layout == "seminarpage" %}
   {% if node.archived != true %}
    <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
    Code: {{ node.code }}
    <p></p>
   {% endif %}
  {% endif %}
 {% endif %}
{% endfor %}
</ul>

<h2>Archive</h2>

<ul>
{% assign pages_list = site.pages | sort:"name" %}
{% for node in pages_list %}
 {% if node.title != null %}
  {% if node.layout == "seminarpage" %}
   {% if node.archived == true %}
    <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
    Code: {{ node.code }}
    <p></p>
   {% endif %}
  {% endif %}
 {% endif %}
{% endfor %}
</ul>
