      {% comment %}
        The code below dynamically generates a list ...
        `layout: page` then `layout: seminarpage` in the front-matter. See readme for usage.
      {% endcomment %}

      <br>
      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "seminarpage" %}
            - {{ node.code }}: <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
